In [3]:
import pandas as pd

In [57]:
df = pd.read_csv("colleges_cleaned.csv")
df.head(20)

                                  school
0      University of Alabama, Tuscaloosa
1                  University of Arizona
2               Arizona State University
3   University of Arkansas, Fayetteville
4                      Auburn University
5     University of California, Berkeley
6                     Clemson University
7        University of Colorado, Boulder
8                  University of Florida
9               Florida State University
10                 University of Georgia
11       Georgia Institute of Technology
12     University of Illinois, Champaign
13       Indiana University, Bloomington
14                    University of Iowa
15                 Iowa State University
16                  University of Kansas
17               Kansas State University
18                University of Kentucky
19            Louisiana State University

In [51]:
df = df[['school']]
df.head(20)

                                  school
0                  University of Alabama
1                  University of Arizona
2               Arizona State University
3                 University of Arkansas
4                      Auburn University
5   University of California-Los Angeles
6                     Clemson University
7         University of Colorado Boulder
8                  University of Florida
9               Florida State University
10                 University of Georgia
11       Georgia Institute of Technology
12                University of Illinois
13                    Indiana University
14                    University of Iowa
15                 Iowa State University
16                  University of Kansas
17               Kansas State University
18                University of Kentucky
19            Louisiana State University

In [52]:
df.to_csv(r'C\Users\johnshows\desktop\project\colleges_really_cleaned.csv', index = False, header = True)

In [61]:
df = pd.read_csv("colleges_final.csv")
df.head(20)

                                  school
0              The University of Alabama
1                  University of Arizona
2               Arizona State University
3                 University of Arkansas
4                      Auburn University
5   University of California-Los Angeles
6                     Clemson University
7         University of Colorado Boulder
8                  University of Florida
9               Florida State University
10                 University of Georgia
11       Georgia Institute of Technology
12                University of Illinois
13                    Indiana University
14                    University of Iowa
15                 Iowa State University
16                  University of Kansas
17               Kansas State University
18                University of Kentucky
19            Louisiana State University

In [37]:
df2 = pd.read_csv("admission_data.csv")
df2.head()

,Unnamed: 0,Unit Id,School,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,0,100654,Alabama A & M University,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2003,Fall 2003,Fall 2002
1,1,100654,Alabama A & M University,Number of applicants,9638,8610,7043,7901,9901,6142,...,7156,5986,5705,3961,6470,9663,7857,6197,8295,4676
2,2,100654,Alabama A & M University,Number admitted,8661,7772,6154,5166,5204,5521,...,3585,3070,2696,1941,2059,3979,3299,2944,3697,2607
3,3,100654,Alabama A & M University,Number admitted who enrolled,1529,1294,1568,1461,1207,1104,...,872,1123,1050,1048,885,1137,1099,1259,1301,1425
4,4,100654,Alabama A & M University,Percent of applicants admitted,89.9%,90.3%,87.4%,65.4%,52.6%,89.9%,...,50.1%,51.3%,47.3%,49.0%,31.8%,41.2%,42.0%,47.5%,44.6%,55.8%

In [56]:
new_school_df = df2.rename(columns={"School":"school"})
new_school_df.head(20)

,Unnamed: 0,Unit Id,school,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,0,100654,Alabama A & M University,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2003,Fall 2003,Fall 2002
1,1,100654,Alabama A & M University,Number of applicants,9638,8610,7043,7901,9901,6142,...,7156,5986,5705,3961,6470,9663,7857,6197,8295,4676
2,2,100654,Alabama A & M University,Number admitted,8661,7772,6154,5166,5204,5521,...,3585,3070,2696,1941,2059,3979,3299,2944,3697,2607
3,3,100654,Alabama A & M University,Number admitted who enrolled,1529,1294,1568,1461,1207,1104,...,872,1123,1050,1048,885,1137,1099,1259,1301,1425
4,4,100654,Alabama A & M University,Percent of applicants admitted,89.9%,90.3%,87.4%,65.4%,52.6%,89.9%,...,50.1%,51.3%,47.3%,49.0%,31.8%,41.2%,42.0%,47.5%,44.6%,55.8%
5,5,100654,Alabama A & M University,Percent of admitted who enrolled,17.7%,16.6%,25.5%,28.3%,23.2%,20.0%,...,24.3%,36.6%,38.9%,54.0%,43.0%,28.6%,33.3%,42.8%,35.2%,54.7%
6,6,100663,University of Alabama at Birmingham,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2006,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
7,7,100663,University of Alabama at Birmingham,Number of applicants,7845,7555,9459,7672,5710,5689,...,5575,4667,4418,5106,4221,4221,4255,4318,4730,3532
8,8,100663,University of Alabama at Birmingham,Number admitted,7226,6936,5499,4636,4893,4934,...,4027,3847,3692,4345,3705,3705,3731,3710,3807,3220
9,9,100663,University of Alabama at Birmingham,Number admitted who enrolled,2299,2299,2021,1621,1748,1773,...,1605,1571,1517,2213,1531,1531,1587,1628,1708,1471
10,10,100663,University of Alabama at Birmingham,Percent of applicants admitted,92.1%,91.8%,58.1%,60.4%,85.7%,86.7%,...,72.2%,82.4%,83.6%,85.1%,87.8%,87.8%,87.7%,85.9%,80.5%,91.2%
11,11,100663,University of Alabama at Birmingham,Percent of admitted who enrolled,31.8%,33.1%,36.8%,35.0%,35.7%,35.9%,...,39.9%,40.8%,41.1%,50.9%,41.3%,41.3%,42.5%,43.9%,44.9%,45.7%
12,18,100724,Alabama State University,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2003,Fall 2001
13,19,100724,Alabama State University,Number of applicants,7783,6842,9053,8356,7673,10245,...,7158,8229,8510,11309,12436,6202,8827,11462,11462,6236
14,20,100724,Alabama State University,Number admitted,7607,6696,4155,3876,4087,5251,...,3636,3598,3936,4781,5172,4154,4476,5779,5779,4322
15,21,100724,Alabama State University,Number admitted who enrolled,1038,967,1172,1021,1091,1479,...,1101,1221,1378,1366,1366,1213,1163,1249,1249,1280
16,22,100724,Alabama State University,Percent of applicants admitted,97.7%,97.9%,45.9%,46.4%,53.3%,51.3%,...,50.8%,43.7%,46.3%,42.3%,41.6%,67.0%,50.7%,50.4%,50.4%,69.3%
17,23,100724,Alabama State University,Percent of admitted who enrolled,13.6%,14.4%,28.2%,26.3%,26.7%,28.2%,...,30.3%,33.9%,35.0%,28.6%,26.4%,29.2%,26.0%,21.6%,21.6%,29.6%
18,24,100751,The University of Alabama,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
19,25,100751,The University of Alabama,Number of applicants,37302,38129,38237,36203,33736,30975,...,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322

In [69]:
first_merged_df = pd.merge(df, new_school_df, on= 'school')
first_merged_df.head(50)

,school,Unnamed: 0,Unit Id,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,24,100751,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
1,The University of Alabama,25,100751,Number of applicants,37302,38129,38237,36203,33736,30975,...,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
2,The University of Alabama,26,100751,Number admitted,22032,20321,20107,19400,17221,17515,...,9636,10776,11133,11172,9140,8770,7776,7021,7194,6196
3,The University of Alabama,27,100751,Number admitted who enrolled,6663,7407,7559,7211,6824,6454,...,5766,5563,5148,5116,4538,4378,3739,3368,3077,2655
4,The University of Alabama,28,100751,Percent of applicants admitted,59.1%,53.3%,52.6%,53.6%,51.0%,56.5%,...,43.5%,53.6%,58.7%,60.4%,63.9%,70.0%,73.7%,77.1%,86.7%,84.6%
5,The University of Alabama,29,100751,Percent of admitted who enrolled,30.2%,36.4%,37.6%,37.2%,39.6%,36.8%,...,59.8%,51.6%,46.2%,45.8%,49.6%,49.9%,48.1%,48.0%,42.8%,42.9%
6,University of Arizona,126,104179,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2012,...,Fall 2010,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
7,University of Arizona,127,104179,Number of applicants,39941,33608,36166,35408,32723,26329,...,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
8,University of Arizona,128,104179,Number admitted,33717,28089,28433,27061,24417,20251,...,20068,20068,19310,18158,19703,14293,15701,19788,18021,16973
9,University of Arizona,129,104179,Number admitted who enrolled,7750,7360,7753,8037,7744,7401,...,7032,7032,6966,6709,8482,6009,5974,5725,5958,5808
10,University of Arizona,130,104179,Percent of applicants admitted,84.4%,83.6%,78.6%,76.4%,74.6%,76.9%,...,75.4%,75.4%,78.0%,80.5%,77.4%,86.1%,87.7%,83.4%,85.1%,85.6%
11,University of Arizona,131,104179,Percent of admitted who enrolled,23.0%,26.2%,27.3%,29.7%,31.7%,36.5%,...,35.0%,35.0%,36.1%,36.9%,43.0%,42.0%,38.0%,28.9%,33.1%,34.2%
12,University of Arkansas,168,106397,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
13,University of Arkansas,169,106397,Number of applicants,18732,21715,21539,20542,18984,18908,...,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
14,University of Arkansas,170,106397,Number admitted,14512,14324,13613,12337,11777,11076,...,10129,8468,6751,6945,6262,5770,5283,4567,4661,4320
15,University of Arkansas,171,106397,Number admitted who enrolled,5008,5066,4967,4915,4571,4339,...,4447,3810,2919,3011,2899,2784,2752,2514,2357,2251
16,University of Arkansas,172,106397,Percent of applicants admitted,77.5%,66.0%,63.2%,60.1%,62.0%,58.6%,...,60.9%,60.4%,56.1%,57.7%,61.8%,68.3%,87.5%,78.5%,84.9%,86.1%
17,University of Arkansas,173,106397,Percent of admitted who enrolled,34.5%,35.4%,36.5%,39.8%,38.8%,39.2%,...,43.9%,45.0%,43.2%,43.4%,46.3%,48.2%,52.1%,55.0%,50.6%,52.1%
18,Auburn University,42,100858,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
19,Auburn University,43,100858,Number of applicants,20742,18072,18256,19414,16958,15745,...,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
20,Auburn University,44,100858,Number admitted,15645,15168,14704,15077,14154,13027,...,12827,12417,11816,12085,12200,11538,11616,10796,9653,10994
21,Auburn University,45,100858,Number admitted who enrolled,4783,4836,4529,4902,4592,3726,...,4202,4204,3918,3984,4191,4092,4197,3594,3706,4184
22,Auburn University,46,100858,Percent of applicants admitted,75.4%,83.9%,80.5%,77.7%,83.5%,82.7%,...,70.0%,78.7%,79.5%,70.8%,69.0%,72.5%,81.5%,84.2%,77.6%,82.9%
23,Auburn University,47,100858,Percent of admitted who enrolled,30.6%,31.9%,30.8%,32.5%,32.4%,28.6%,...,32.8%,33.9%,33.2%,33.0%,34.4%,35.5%,36.1%,33.3%,38.4%,38.1%
24,University of California-Los Angeles,360,110662,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2002
25,University of California-Los Angeles,361,110662,Number of applicants,113754,102225,97112,92690,86537,72676,...,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739
26,University of California-Los Angeles,362,110662,Number admitted,15970,16456,17473,16016,16059,15981,...,15719,12178,12659,11960,12188,11361,9949,10577,10454,10953
27,University of California-Los Angeles,363,110662,Number admitted who enrolled,6240,6038,6545,5679,5764,5620,...,4636,4472,4735,4563,4810,4423,3723,4268,4257,4246
28,University of California-Los Angeles,364,110662,Percent of applicants admitted,14.0%,16.1%,18.0%,17.3%,18.6%,22.0%,...,25.5%,21.9%,22.8%,23.6%,25.8%,26.9%,23.0%,23.5%,24.1%,26.9%
29,University of California-Los Angeles,365,110662,Percent of admitted who enrolled,39.1%,36.7%,37.5%,35.5%,35.9%,35.2%,...,29.5%,36.7%,37.4%,38.2%,39.5%,38.9%,37.4%,40.4%,40.7%,38.8%
30,Clemson University,3738,217882,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2006,Fall 2004,Fall 2004,Fall 2003,Fall 2002
31,Clemson University,3739,217882,Number of applicants,28845,26242,23506,22396,20756,18500,...,16865,16282,14504,14255,12784,12784,10620,10620,11419,11315
32,Clemson University,3740,217882,Number admitted,13613,12380,11881,11483,10694,10706,...,9724,10224,8355,7154,6990,6990,7287,7287,6945,5864
33,Clemson University,3741,217882,Number admitted who enrolled,3792,3650,3684,3447,3475,3463,...,3016,3383,2982,2762,2866,2813,3033,3019,2769,2471
34,Clemson University,3742,217882,Percent of applicants admitted,47.2%,47.2%,50.5%,51.3%,51.5%,57.9%,...,57.7%,62.8%,57.6%,50.2%,54.7%,54.7%,68.6%,68.6%,60.8%,51.8%
35,Clemson University,3743,217882,Percent of admitted who enrolled,27.9%,29.5%,31.0%,30.0%,32.5%,32.3%,...,31.0%,33.1%,35.7%,38.6%,41.0%,40.2%,41.6%,41.4%,39.9%,42.1%
36,University of Colorado Boulder,642,126614,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
37,University of Colorado Boulder,643,126614,Number of applicants,36604,36148,34047,31325,28852,22473,...,20506,21150,19649,23004,19857,18160,17111,19360,20920,19152
38,University of Colorado Boulder,644,126614,Number admitted,29848,28861,26087,24941,24282,19710,...,17828,17517,16514,17933,16187,15960,15003,16425,16790,15341
39,University of Colorado Boulder,645,126614,Number admitted who enrolled,6700,6569,6439,6208,5869,5846,...,5700,5211,5555,5860,5591,5645,5047,5149,5586,5428
40,University of Colorado Boulder,646,126614,Percent of applicants admitted,81.5%,79.8%,76.6%,79.6%,84.2%,87.7%,...,86.9%,82.8%,84.0%,78.0%,81.5%,87.9%,87.7%,84.8%,80.3%,80.1%
41,University of Colorado Boulder,647,126614,Percent of admitted who enrolled,22.4%,22.8%,24.7%,24.9%,24.2%,29.7%,...,32.0%,29.7%,33.6%,32.7%,34.5%,35.4%,33.6%,31.3%,33.3%,35.4%
42,University of Florida,912,134130,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
43,University of Florida,913,134130,Number of applicants,38905,32747,30118,29220,28662,27107,...,27295,26512,25798,26326,24126,22093,21151,22458,22973,20119
44,University of Florida,914,134130,Number admitted,15077,13758,13836,13892,13072,12618,...,11786,11459,11015,10916,10158,10652,12100,11928,12029,11728
45,University of Florida,915,134130,Number admitted who enrolled,6801,6428,6842,6887,6512,6373,...,6451,6381,6253,6384,6443,6702,7241,6741,6596,6536
46,University of Florida,916,134130,Percent of applicants admitted,38.8%,42.0%,45.9%,47.5%,45.6%,46.5%,...,43.2%,43.2%,42.7%,41.5%,42.1%,48.2%,57.2%,53.1%,52.4%,58.3%
47,University of Florida,917,134130,Percent of admitted who enrolled,45.1%,46.7%,49.5%,49.6%,49.8%,50.5%,...,54.7%,55.7%,56.8%,58.5%,63.4%,62.9%,59.8%,56.5%,54.8%,55.7%
48,Florida State University,900,134097,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2001
49,Florida State University,901,134097,Number of applicants,50314,35334,29027,29828,30266,29579,...,28313,26037,23439,25485,24343,23687,22450,22127,22438,18342

In [73]:
dropped_admitted = first_merged_df[~first_merged_df.Applicatin_Status.str.contains("admitted")]
dropped_admitted.head()

,school,Unnamed: 0,Unit Id,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,24,100751,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
1,The University of Alabama,25,100751,Number of applicants,37302,38129,38237,36203,33736,30975,...,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
6,University of Arizona,126,104179,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2012,...,Fall 2010,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
7,University of Arizona,127,104179,Number of applicants,39941,33608,36166,35408,32723,26329,...,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
12,University of Arkansas,168,106397,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002

In [81]:
df=dropped_admitted
df.head()

,school,Unnamed: 0,Unit Id,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,24,100751,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
1,The University of Alabama,25,100751,Number of applicants,37302,38129,38237,36203,33736,30975,...,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
6,University of Arizona,126,104179,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2012,...,Fall 2010,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
7,University of Arizona,127,104179,Number of applicants,39941,33608,36166,35408,32723,26329,...,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
12,University of Arkansas,168,106397,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002

In [85]:
import numpy as np

In [87]:
for c in df.columns:
    df[c] = df[c].astype(str)
    df[c] = np.where(df[c].str.contains("fall"), df[c].str[:0], df[c])

/Users/johnshows/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/johnshows/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [92]:
from collections import Counter
selected_words = ['fall']
def count_words(df, selected_words):
    words_count=Counter()
    
    for sentence in df.sentences: words_count.update(x for x in sentence if x in selected_words)

,school,Unnamed: 0,Unit Id,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,24,100751,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
1,The University of Alabama,25,100751,Number of applicants,37302,38129,38237,36203,33736,30975,...,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
6,University of Arizona,126,104179,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
7,University of Arizona,127,104179,Number of applicants,39941,33608,36166,35408,32723,26329,...,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
12,University of Arkansas,168,106397,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
13,University of Arkansas,169,106397,Number of applicants,18732,21715,21539,20542,18984,18908,...,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
18,Auburn University,42,100858,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
19,Auburn University,43,100858,Number of applicants,20742,18072,18256,19414,16958,15745,...,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
24,University of California-Los Angeles,360,110662,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2002
25,University of California-Los Angeles,361,110662,Number of applicants,113754,102225,97112,92690,86537,72676,...,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739
30,Clemson University,3738,217882,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2006,Fall 2004,Fall 2004,Fall 2003,Fall 2002
31,Clemson University,3739,217882,Number of applicants,28845,26242,23506,22396,20756,18500,...,16865,16282,14504,14255,12784,12784,10620,10620,11419,11315
36,University of Colorado Boulder,642,126614,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
37,University of Colorado Boulder,643,126614,Number of applicants,36604,36148,34047,31325,28852,22473,...,20506,21150,19649,23004,19857,18160,17111,19360,20920,19152
42,University of Florida,912,134130,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
43,University of Florida,913,134130,Number of applicants,38905,32747,30118,29220,28662,27107,...,27295,26512,25798,26326,24126,22093,21151,22458,22973,20119
48,Florida State University,900,134097,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2001
49,Florida State University,901,134097,Number of applicants,50314,35334,29027,29828,30266,29579,...,28313,26037,23439,25485,24343,23687,22450,22127,22438,18342
54,University of Georgia,1176,139959,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2003,Fall 2002
55,University of Georgia,1177,139959,Number of applicants,26164,24165,22694,21945,20918,18458,...,17408,17776,17207,16871,15924,12326,13267,11813,11813,12786
60,University of Iowa,1416,153658,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
61,University of Iowa,1417,153658,Number of applicants,26706,27734,28494,26222,24097,21642,...,18939,17220,15060,15582,14678,14350,13241,13874,13337,13079
66,Iowa State University,1410,153603,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2005,Fall 2004,Fall 2003,Fall 2002
67,Iowa State University,1411,153603,Number of applicants,18855,19262,19433,19164,18399,16539,...,15066,12536,12549,11058,9634,9101,9101,9172,9035,10370
72,University of Kansas,1464,155317,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
73,University of Kansas,1465,155317,Number of applicants,14752,14538,15015,15155,15767,12389,...,10157,10653,10902,10367,10240,10030,10442,9700,9573,9005
78,Kansas State University,1470,155399,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2006,Fall 2005,Fall 2004,Fall 2004,Fall 2003,Fall 2002
79,Kansas State University,1471,155399,Number of applicants,8685,8517,9213,9178,9614,9839,...,8292,8268,8413,9386,7479,9937,10067,10066,7952,8212
84,University of Kentucky,1518,157085,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
85,University of Kentucky,1519,157085,Number of applicants,19324,18925,20480,18725,20677,19810,...,13537,12195,11120,10619,10024,10516,10604,9418,8879,8449
90,Michigan State University,1932,171100,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
91,Michigan State University,1933,171100,Number of applicants,33129,36143,37480,35300,33211,31479,...,28416,26907,25395,25589,24436,23247,21844,21834,24973,25210
96,University of Mississippi,2094,176017,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2002
97,University of Mississippi,2095,176017,Number of applicants,15371,17416,17918,18059,16101,14258,...,13321,10909,8595,7946,7921,6763,6662,6490,7603,7603
102,Mississippi State University,2112,176080,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2005,Fall 2005,Fall 2004,Fall 2003,Fall 2002
103,Mississippi State University,2113,176080,Number of applicants,17381,13973,14012,12446,10766,11191,...,9862,9300,11281,7479,6098,5778,5778,5245,4646,4772
108,University of North Carolina at Chapel Hill,2892,199120,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
109,University of North Carolina at Chapel Hill,2893,199120,Number of applicants,41939,39650,34889,31143,31332,28437,...,22288,23225,21543,20090,19728,18414,18850,17591,17141,15946
114,University of Oregon,3408,209551,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
115,University of Oregon,3409,209551,Number of applicants,24474,20317,21821,22000,21359,21263,...,18515,16780,15013,11287,10821,10012,9623,10193,9889,8686
120,Purdue University Fort Wayne,1338,151102,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
121,Purdue University Fort Wayne,1339,151102,Number of applicants,4777,4403,3532,3506,3386,3702,...,2779,4041,3597,3277,3103,2850,2786,2915,2486,2471
126,Texas Tech University,4200,229115,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
127,Texas Tech University,4201,229115,Number of applicants,24452,25207,23311,23010,21873,19170,...,17569,16349,16551,16143,11961,13809,12583,13323,13755,13101
132,University of Utah,4278,230764,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2006,Fall 2005,Fall 2004,Fall 2004,Fall 2003,Fall 2002
133,University of Utah,4279,230764,Number of applicants,23096,22400,14308,12174,10991,11354,...,9545,8364,7890,7244,6557,6701,6251,6251,5842,5802
138,Virginia Polytechnic Institute and State Unive...,4416,233921,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
139,Virginia Polytechnic Institute and State Unive...,4417,233921,Number of applicants,31936,27423,25000,22280,20744,19112,...,20828,19981,21053,20615,19429,18919,17670,17845,18426,17900
144,Washington State University,4608,236939,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
145,Washington State University,4609,236939,Number of applicants,22773,22565,23223,19766,14887,14887,...,13094,11604,11795,11326,10853,9314,9193,9463,9213,8932
150,West Virginia University,4722,238032,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
151,West Virginia University,4723,238032,Number of applicants,18639,20594,21558,15353,15604,16521,...,14335,14229,15094,13634,12047,10957,10523,10049,9147,8786
156,University of Louisville,1524,157289,Reporting period,nan,nan,nan,nan,nan,Fall 2013,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
157,University of Louisville,1525,157289,Number of applicants,13851,10987,10404,9685,10604,9166,...,7749,7755,7861,7280,6323,5712,5335,5284,5306,5814
162,Oregon State University,3402,209542,Reporting period,nan,nan,nan,nan,nan,Fall 2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
163,Oregon State University,3403,209542,Number of applicants,14890,14888,14595,14058,14116,12414,...,11428,10068,8640,8149,9077,6552,6917,7410,5811,6645

In [107]:
#this worked.. 

df.replace({'Fall':' '})

,school,Unnamed: 0,Unit Id,Applicatin_Status,2018,2017,2016,2015,2014,2013,...,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,24,100751,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
1,The University of Alabama,25,100751,Number of applicants,37302,38129,38237,36203,33736,30975,...,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
6,University of Arizona,126,104179,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
7,University of Arizona,127,104179,Number of applicants,39941,33608,36166,35408,32723,26329,...,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
12,University of Arkansas,168,106397,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
13,University of Arkansas,169,106397,Number of applicants,18732,21715,21539,20542,18984,18908,...,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
18,Auburn University,42,100858,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
19,Auburn University,43,100858,Number of applicants,20742,18072,18256,19414,16958,15745,...,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
24,University of California-Los Angeles,360,110662,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2002
25,University of California-Los Angeles,361,110662,Number of applicants,113754,102225,97112,92690,86537,72676,...,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739
30,Clemson University,3738,217882,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2006,Fall 2004,Fall 2004,Fall 2003,Fall 2002
31,Clemson University,3739,217882,Number of applicants,28845,26242,23506,22396,20756,18500,...,16865,16282,14504,14255,12784,12784,10620,10620,11419,11315
36,University of Colorado Boulder,642,126614,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
37,University of Colorado Boulder,643,126614,Number of applicants,36604,36148,34047,31325,28852,22473,...,20506,21150,19649,23004,19857,18160,17111,19360,20920,19152
42,University of Florida,912,134130,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
43,University of Florida,913,134130,Number of applicants,38905,32747,30118,29220,28662,27107,...,27295,26512,25798,26326,24126,22093,21151,22458,22973,20119
48,Florida State University,900,134097,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2001
49,Florida State University,901,134097,Number of applicants,50314,35334,29027,29828,30266,29579,...,28313,26037,23439,25485,24343,23687,22450,22127,22438,18342
54,University of Georgia,1176,139959,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2003,Fall 2002
55,University of Georgia,1177,139959,Number of applicants,26164,24165,22694,21945,20918,18458,...,17408,17776,17207,16871,15924,12326,13267,11813,11813,12786
60,University of Iowa,1416,153658,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
61,University of Iowa,1417,153658,Number of applicants,26706,27734,28494,26222,24097,21642,...,18939,17220,15060,15582,14678,14350,13241,13874,13337,13079
66,Iowa State University,1410,153603,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2005,Fall 2004,Fall 2003,Fall 2002
67,Iowa State University,1411,153603,Number of applicants,18855,19262,19433,19164,18399,16539,...,15066,12536,12549,11058,9634,9101,9101,9172,9035,10370
72,University of Kansas,1464,155317,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
73,University of Kansas,1465,155317,Number of applicants,14752,14538,15015,15155,15767,12389,...,10157,10653,10902,10367,10240,10030,10442,9700,9573,9005
78,Kansas State University,1470,155399,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2006,Fall 2005,Fall 2004,Fall 2004,Fall 2003,Fall 2002
79,Kansas State University,1471,155399,Number of applicants,8685,8517,9213,9178,9614,9839,...,8292,8268,8413,9386,7479,9937,10067,10066,7952,8212
84,University of Kentucky,1518,157085,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
85,University of Kentucky,1519,157085,Number of applicants,19324,18925,20480,18725,20677,19810,...,13537,12195,11120,10619,10024,10516,10604,9418,8879,8449
90,Michigan State University,1932,171100,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
91,Michigan State University,1933,171100,Number of applicants,33129,36143,37480,35300,33211,31479,...,28416,26907,25395,25589,24436,23247,21844,21834,24973,25210
96,University of Mississippi,2094,176017,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2002
97,University of Mississippi,2095,176017,Number of applicants,15371,17416,17918,18059,16101,14258,...,13321,10909,8595,7946,7921,6763,6662,6490,7603,7603
102,Mississippi State University,2112,176080,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2005,Fall 2005,Fall 2004,Fall 2003,Fall 2002
103,Mississippi State University,2113,176080,Number of applicants,17381,13973,14012,12446,10766,11191,...,9862,9300,11281,7479,6098,5778,5778,5245,4646,4772
108,University of North Carolina at Chapel Hill,2892,199120,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
109,University of North Carolina at Chapel Hill,2893,199120,Number of applicants,41939,39650,34889,31143,31332,28437,...,22288,23225,21543,20090,19728,18414,18850,17591,17141,15946
114,University of Oregon,3408,209551,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
115,University of Oregon,3409,209551,Number of applicants,24474,20317,21821,22000,21359,21263,...,18515,16780,15013,11287,10821,10012,9623,10193,9889,8686
120,Purdue University Fort Wayne,1338,151102,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
121,Purdue University Fort Wayne,1339,151102,Number of applicants,4777,4403,3532,3506,3386,3702,...,2779,4041,3597,3277,3103,2850,2786,2915,2486,2471
126,Texas Tech University,4200,229115,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
127,Texas Tech University,4201,229115,Number of applicants,24452,25207,23311,23010,21873,19170,...,17569,16349,16551,16143,11961,13809,12583,13323,13755,13101
132,University of Utah,4278,230764,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2006,Fall 2005,Fall 2004,Fall 2004,Fall 2003,Fall 2002
133,University of Utah,4279,230764,Number of applicants,23096,22400,14308,12174,10991,11354,...,9545,8364,7890,7244,6557,6701,6251,6251,5842,5802
138,Virginia Polytechnic Institute and State Unive...,4416,233921,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
139,Virginia Polytechnic Institute and State Unive...,4417,233921,Number of applicants,31936,27423,25000,22280,20744,19112,...,20828,19981,21053,20615,19429,18919,17670,17845,18426,17900
144,Washington State University,4608,236939,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002
145,Washington State University,4609,236939,Number of applicants,22773,22565,23223,19766,14887,14887,...,13094,11604,11795,11326,10853,9314,9193,9463,9213,8932
150,West Virginia University,4722,238032,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
151,West Virginia University,4723,238032,Number of applicants,18639,20594,21558,15353,15604,16521,...,14335,14229,15094,13634,12047,10957,10523,10049,9147,8786
156,University of Louisville,1524,157289,Reporting period,nan,nan,nan,nan,nan,2013,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
157,University of Louisville,1525,157289,Number of applicants,13851,10987,10404,9685,10604,9166,...,7749,7755,7861,7280,6323,5712,5335,5284,5306,5814
162,Oregon State University,3402,209542,Reporting period,nan,nan,nan,nan,nan,2012,...,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2004,Fall 2003,Fall 2002,Fall 2001
163,Oregon State University,3403,209542,Number of applicants,14890,14888,14595,14058,14116,12414,...,11428,10068,8640,8149,9077,6552,6917,7410,5811,6645

In [119]:
df.replace({'Fall': ''},regex=True)

,school,Applicatin_Status,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
1,The University of Alabama,Number of applicants,37302,38129,38237,36203,33736,30975,26409,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
6,University of Arizona,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2010,2009,2008,2007,2006,2005,2004,2003,2002
7,University of Arizona,Number of applicants,39941,33608,36166,35408,32723,26329,26854,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
12,University of Arkansas,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
13,University of Arkansas,Number of applicants,18732,21715,21539,20542,18984,18908,16749,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
18,Auburn University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
19,Auburn University,Number of applicants,20742,18072,18256,19414,16958,15745,17463,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
24,University of California-Los Angeles,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2002
25,University of California-Los Angeles,Number of applicants,113754,102225,97112,92690,86537,72676,61556,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739
30,Clemson University,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2006,2004,2004,2003,2002
31,Clemson University,Number of applicants,28845,26242,23506,22396,20756,18500,17072,16865,16282,14504,14255,12784,12784,10620,10620,11419,11315
36,University of Colorado Boulder,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
37,University of Colorado Boulder,Number of applicants,36604,36148,34047,31325,28852,22473,21744,20506,21150,19649,23004,19857,18160,17111,19360,20920,19152
42,University of Florida,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
43,University of Florida,Number of applicants,38905,32747,30118,29220,28662,27107,27419,27295,26512,25798,26326,24126,22093,21151,22458,22973,20119
48,Florida State University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2001
49,Florida State University,Number of applicants,50314,35334,29027,29828,30266,29579,30040,28313,26037,23439,25485,24343,23687,22450,22127,22438,18342
54,University of Georgia,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2003,2002
55,University of Georgia,Number of applicants,26164,24165,22694,21945,20918,18458,17569,17408,17776,17207,16871,15924,12326,13267,11813,11813,12786
60,University of Iowa,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
61,University of Iowa,Number of applicants,26706,27734,28494,26222,24097,21642,19430,18939,17220,15060,15582,14678,14350,13241,13874,13337,13079
66,Iowa State University,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2005,2004,2003,2002
67,Iowa State University,Number of applicants,18855,19262,19433,19164,18399,16539,14540,15066,12536,12549,11058,9634,9101,9101,9172,9035,10370
72,University of Kansas,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
73,University of Kansas,Number of applicants,14752,14538,15015,15155,15767,12389,10035,10157,10653,10902,10367,10240,10030,10442,9700,9573,9005
78,Kansas State University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2006,2005,2004,2004,2003,2002
79,Kansas State University,Number of applicants,8685,8517,9213,9178,9614,9839,9273,8292,8268,8413,9386,7479,9937,10067,10066,7952,8212
84,University of Kentucky,Reporting period,nan,nan,nan,nan,nan,2013,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
85,University of Kentucky,Number of applicants,19324,18925,20480,18725,20677,19810,15153,13537,12195,11120,10619,10024,10516,10604,9418,8879,8449
90,Michigan State University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
91,Michigan State University,Number of applicants,33129,36143,37480,35300,33211,31479,30224,28416,26907,25395,25589,24436,23247,21844,21834,24973,25210
96,University of Mississippi,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2007,2006,2005,2004,2003,2002,2002
97,University of Mississippi,Number of applicants,15371,17416,17918,18059,16101,14258,13934,13321,10909,8595,7946,7921,6763,6662,6490,7603,7603
102,Mississippi State University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2005,2005,2004,2003,2002
103,Mississippi State University,Number of applicants,17381,13973,14012,12446,10766,11191,10462,9862,9300,11281,7479,6098,5778,5778,5245,4646,4772
108,University of North Carolina at Chapel Hill,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
109,University of North Carolina at Chapel Hill,Number of applicants,41939,39650,34889,31143,31332,28437,22652,22288,23225,21543,20090,19728,18414,18850,17591,17141,15946
114,University of Oregon,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
115,University of Oregon,Number of applicants,24474,20317,21821,22000,21359,21263,23012,18515,16780,15013,11287,10821,10012,9623,10193,9889,8686
120,Purdue University Fort Wayne,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
121,Purdue University Fort Wayne,Number of applicants,4777,4403,3532,3506,3386,3702,3270,2779,4041,3597,3277,3103,2850,2786,2915,2486,2471
126,Texas Tech University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
127,Texas Tech University,Number of applicants,24452,25207,23311,23010,21873,19170,18027,17569,16349,16551,16143,11961,13809,12583,13323,13755,13101
132,University of Utah,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2006,2005,2004,2004,2003,2002
133,University of Utah,Number of applicants,23096,22400,14308,12174,10991,11354,11118,9545,8364,7890,7244,6557,6701,6251,6251,5842,5802
138,Virginia Polytechnic Institute and State Unive...,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
139,Virginia Polytechnic Institute and State Unive...,Number of applicants,31936,27423,25000,22280,20744,19112,20191,20828,19981,21053,20615,19429,18919,17670,17845,18426,17900
144,Washington State University,Reporting period,nan,nan,nan,nan,nan,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
145,Washington State University,Number of applicants,22773,22565,23223,19766,14887,14887,14825,13094,11604,11795,11326,10853,9314,9193,9463,9213,8932
150,West Virginia University,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
151,West Virginia University,Number of applicants,18639,20594,21558,15353,15604,16521,15815,14335,14229,15094,13634,12047,10957,10523,10049,9147,8786
156,University of Louisville,Reporting period,nan,nan,nan,nan,nan,2013,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
157,University of Louisville,Number of applicants,13851,10987,10404,9685,10604,9166,7892,7749,7755,7861,7280,6323,5712,5335,5284,5306,5814
162,Oregon State University,Reporting period,nan,nan,nan,nan,nan,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
163,Oregon State University,Number of applicants,14890,14888,14595,14058,14116,12414,12197,11428,10068,8640,8149,9077,6552,6917,7410,5811,6645

In [123]:
dropped_reporting_df = df[~df.Applicatin_Status.str.contains("Reporting")]
dropped_reporting.head()

,school,Applicatin_Status,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
1,The University of Alabama,Number of applicants,37302,38129,38237,36203,33736,30975,26409,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
7,University of Arizona,Number of applicants,39941,33608,36166,35408,32723,26329,26854,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
13,University of Arkansas,Number of applicants,18732,21715,21539,20542,18984,18908,16749,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
19,Auburn University,Number of applicants,20742,18072,18256,19414,16958,15745,17463,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
25,University of California-Los Angeles,Number of applicants,113754,102225,97112,92690,86537,72676,61556,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739

In [135]:
ready_df = dropped_reporting_df.rename(columns={"Applicatin_Status": "Applicants"})
ready_df
ready_df = ready_df.rename(columns={"school":'School'})
ready_df
del ready_df['Applicants']
ready_df
ready_df.head(50)

,School,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
1,The University of Alabama,37302,38129,38237,36203,33736,30975,26409,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
7,University of Arizona,39941,33608,36166,35408,32723,26329,26854,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
13,University of Arkansas,18732,21715,21539,20542,18984,18908,16749,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
19,Auburn University,20742,18072,18256,19414,16958,15745,17463,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
25,University of California-Los Angeles,113754,102225,97112,92690,86537,72676,61556,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739
31,Clemson University,28845,26242,23506,22396,20756,18500,17072,16865,16282,14504,14255,12784,12784,10620,10620,11419,11315
37,University of Colorado Boulder,36604,36148,34047,31325,28852,22473,21744,20506,21150,19649,23004,19857,18160,17111,19360,20920,19152
43,University of Florida,38905,32747,30118,29220,28662,27107,27419,27295,26512,25798,26326,24126,22093,21151,22458,22973,20119
49,Florida State University,50314,35334,29027,29828,30266,29579,30040,28313,26037,23439,25485,24343,23687,22450,22127,22438,18342
55,University of Georgia,26164,24165,22694,21945,20918,18458,17569,17408,17776,17207,16871,15924,12326,13267,11813,11813,12786
61,University of Iowa,26706,27734,28494,26222,24097,21642,19430,18939,17220,15060,15582,14678,14350,13241,13874,13337,13079
67,Iowa State University,18855,19262,19433,19164,18399,16539,14540,15066,12536,12549,11058,9634,9101,9101,9172,9035,10370
73,University of Kansas,14752,14538,15015,15155,15767,12389,10035,10157,10653,10902,10367,10240,10030,10442,9700,9573,9005
79,Kansas State University,8685,8517,9213,9178,9614,9839,9273,8292,8268,8413,9386,7479,9937,10067,10066,7952,8212
85,University of Kentucky,19324,18925,20480,18725,20677,19810,15153,13537,12195,11120,10619,10024,10516,10604,9418,8879,8449
91,Michigan State University,33129,36143,37480,35300,33211,31479,30224,28416,26907,25395,25589,24436,23247,21844,21834,24973,25210
97,University of Mississippi,15371,17416,17918,18059,16101,14258,13934,13321,10909,8595,7946,7921,6763,6662,6490,7603,7603
103,Mississippi State University,17381,13973,14012,12446,10766,11191,10462,9862,9300,11281,7479,6098,5778,5778,5245,4646,4772
109,University of North Carolina at Chapel Hill,41939,39650,34889,31143,31332,28437,22652,22288,23225,21543,20090,19728,18414,18850,17591,17141,15946
115,University of Oregon,24474,20317,21821,22000,21359,21263,23012,18515,16780,15013,11287,10821,10012,9623,10193,9889,8686
121,Purdue University Fort Wayne,4777,4403,3532,3506,3386,3702,3270,2779,4041,3597,3277,3103,2850,2786,2915,2486,2471
127,Texas Tech University,24452,25207,23311,23010,21873,19170,18027,17569,16349,16551,16143,11961,13809,12583,13323,13755,13101
133,University of Utah,23096,22400,14308,12174,10991,11354,11118,9545,8364,7890,7244,6557,6701,6251,6251,5842,5802
139,Virginia Polytechnic Institute and State Unive...,31936,27423,25000,22280,20744,19112,20191,20828,19981,21053,20615,19429,18919,17670,17845,18426,17900
145,Washington State University,22773,22565,23223,19766,14887,14887,14825,13094,11604,11795,11326,10853,9314,9193,9463,9213,8932
151,West Virginia University,18639,20594,21558,15353,15604,16521,15815,14335,14229,15094,13634,12047,10957,10523,10049,9147,8786
157,University of Louisville,13851,10987,10404,9685,10604,9166,7892,7749,7755,7861,7280,6323,5712,5335,5284,5306,5814
163,Oregon State University,14890,14888,14595,14058,14116,12414,12197,11428,10068,8640,8149,9077,6552,6917,7410,5811,6645

In [148]:
ready_df.index = pd.RangeIndex(len(ready_df.index))
ready_df.head(50)

,School,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,The University of Alabama,37302,38129,38237,36203,33736,30975,26409,22136,20112,18967,18500,14313,12522,10555,9106,8298,7322
1,University of Arizona,39941,33608,36166,35408,32723,26329,26854,26629,26629,24756,22544,25449,16609,17904,23725,21185,19832
2,University of Arkansas,18732,21715,21539,20542,18984,18908,16749,16633,14019,12035,12045,10135,8443,6041,5819,5491,5017
3,Auburn University,20742,18072,18256,19414,16958,15745,17463,18323,15784,14862,17068,17688,15919,14249,12827,12439,13264
4,University of California-Los Angeles,113754,102225,97112,92690,86537,72676,61556,61545,55694,55423,50746,47317,42223,43267,44981,43436,40739
5,Clemson University,28845,26242,23506,22396,20756,18500,17072,16865,16282,14504,14255,12784,12784,10620,10620,11419,11315
6,University of Colorado Boulder,36604,36148,34047,31325,28852,22473,21744,20506,21150,19649,23004,19857,18160,17111,19360,20920,19152
7,University of Florida,38905,32747,30118,29220,28662,27107,27419,27295,26512,25798,26326,24126,22093,21151,22458,22973,20119
8,Florida State University,50314,35334,29027,29828,30266,29579,30040,28313,26037,23439,25485,24343,23687,22450,22127,22438,18342
9,University of Georgia,26164,24165,22694,21945,20918,18458,17569,17408,17776,17207,16871,15924,12326,13267,11813,11813,12786
10,University of Iowa,26706,27734,28494,26222,24097,21642,19430,18939,17220,15060,15582,14678,14350,13241,13874,13337,13079
11,Iowa State University,18855,19262,19433,19164,18399,16539,14540,15066,12536,12549,11058,9634,9101,9101,9172,9035,10370
12,University of Kansas,14752,14538,15015,15155,15767,12389,10035,10157,10653,10902,10367,10240,10030,10442,9700,9573,9005
13,Kansas State University,8685,8517,9213,9178,9614,9839,9273,8292,8268,8413,9386,7479,9937,10067,10066,7952,8212
14,University of Kentucky,19324,18925,20480,18725,20677,19810,15153,13537,12195,11120,10619,10024,10516,10604,9418,8879,8449
15,Michigan State University,33129,36143,37480,35300,33211,31479,30224,28416,26907,25395,25589,24436,23247,21844,21834,24973,25210
16,University of Mississippi,15371,17416,17918,18059,16101,14258,13934,13321,10909,8595,7946,7921,6763,6662,6490,7603,7603
17,Mississippi State University,17381,13973,14012,12446,10766,11191,10462,9862,9300,11281,7479,6098,5778,5778,5245,4646,4772
18,University of North Carolina at Chapel Hill,41939,39650,34889,31143,31332,28437,22652,22288,23225,21543,20090,19728,18414,18850,17591,17141,15946
19,University of Oregon,24474,20317,21821,22000,21359,21263,23012,18515,16780,15013,11287,10821,10012,9623,10193,9889,8686
20,Purdue University Fort Wayne,4777,4403,3532,3506,3386,3702,3270,2779,4041,3597,3277,3103,2850,2786,2915,2486,2471
21,Texas Tech University,24452,25207,23311,23010,21873,19170,18027,17569,16349,16551,16143,11961,13809,12583,13323,13755,13101
22,University of Utah,23096,22400,14308,12174,10991,11354,11118,9545,8364,7890,7244,6557,6701,6251,6251,5842,5802
23,Virginia Polytechnic Institute and State Unive...,31936,27423,25000,22280,20744,19112,20191,20828,19981,21053,20615,19429,18919,17670,17845,18426,17900
24,Washington State University,22773,22565,23223,19766,14887,14887,14825,13094,11604,11795,11326,10853,9314,9193,9463,9213,8932
25,West Virginia University,18639,20594,21558,15353,15604,16521,15815,14335,14229,15094,13634,12047,10957,10523,10049,9147,8786
26,University of Louisville,13851,10987,10404,9685,10604,9166,7892,7749,7755,7861,7280,6323,5712,5335,5284,5306,5814
27,Oregon State University,14890,14888,14595,14058,14116,12414,12197,11428,10068,8640,8149,9077,6552,6917,7410,5811,6645

In [10]:
#checking to see if there is any data loss due to the difference in school names on CSV's 
#(For example: University of Colorado vs University of Colorado at Boulder)

import fuzzymatcher
from fuzzymatcher import link_table, fuzzy_left_join

In [154]:
ready_df.to_csv(r'C\Users\johnshows\desktop\project\applications_cleaned.csv', index = False, header = True)

In [11]:
import pandas as pd
df_left = pd.read_csv("applications_cleaned.csv")
df_right = pd.read_csv("admission_data.csv")

In [22]:
left_on = ["School"]
right_on = ["School"]
fuzzy_df = fuzzymatcher.link_table(df_left, df_right, left_on, right_on)
fuzzy_df.

,__id_left,__id_right,match_score,match_rank,School_left,School_right
0,0_left,18_right,0.456927,1,The University of Alabama,The University of Alabama
1,0_left,19_right,0.456927,2,The University of Alabama,The University of Alabama
2,0_left,20_right,0.456927,3,The University of Alabama,The University of Alabama
3,0_left,21_right,0.456927,4,The University of Alabama,The University of Alabama
4,0_left,22_right,0.456927,5,The University of Alabama,The University of Alabama
...,...,...,...,...,...,...
217,27_left,799_right,0.285691,2,Oregon State University,Oregon State University
218,27_left,800_right,0.285691,3,Oregon State University,Oregon State University
219,27_left,801_right,0.285691,4,Oregon State University,Oregon State University
220,27_left,802_right,0.285691,5,Oregon State University,Oregon State University
221,27_left,803_right,0.285691,6,Oregon State University,Oregon State University