In [1]:
# import dependencies
import pandas as pd

In [2]:
# load in data
admission_file = "../Resources/admission_application_trends.csv"
expense_file = "../Resources/athletic_expense_report.csv"

In [3]:
# turn file into pandas df
expense_data = pd.read_csv(expense_file)
admission_data = pd.read_csv(admission_file)

admission_data.head()

,Unit Id,Institution name,Unnamed: 2,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002
0,100654,Alabama A & M University,Reporting period,NaN,NaN,NaN,NaN,NaN,Fall 2013,Fall 2012,Fall 2011,Fall 2010,Fall 2009,Fall 2008,Fall 2007,Fall 2006,Fall 2005,Fall 2003,Fall 2003,Fall 2002
1,100654,Alabama A & M University,Number of applicants,9638,8610,7043,7901,9901,6142,10877,7156,5986,5705,3961,6470,9663,7857,6197,8295,4676
2,100654,Alabama A & M University,Number admitted,8661,7772,6154,5166,5204,5521,5915,3585,3070,2696,1941,2059,3979,3299,2944,3697,2607
3,100654,Alabama A & M University,Number admitted who enrolled,1529,1294,1568,1461,1207,1104,1033,872,1123,1050,1048,885,1137,1099,1259,1301,1425
4,100654,Alabama A & M University,Percent of applicants admitted,89.9%,90.3%,87.4%,65.4%,52.6%,89.9%,54.4%,50.1%,51.3%,47.3%,49.0%,31.8%,41.2%,42.0%,47.5%,44.6%,55.8%

In [4]:
# getting wanted schools based off expense report
# recreating football schools list 
schools_wanted = expense_data['Data'].unique()
football_schools = list(schools_wanted)

In [5]:
# showing schools that are missing from the admission data
admission_schools = list(admission_data['Institution name'].unique())

missing_schools = list(set(football_schools) - set(admission_schools))
missing_schools

['Colorado State University',
 'Arkansas State University',
 'College of William and Mary',
 'Wright State University',
 'Binghamton University, The State University of New York',
 'Rutgers, The State University of New Jersey-New Brunswick',
 'Bowling Green State University',
 'United States Air Force Academy',
 'University of Michigan',
 'University of New Hampshire',
 'Miami University',
 'University of Massachusetts Amherst',
 'The University of Tennessee at Chattanooga',
 'North Dakota State University',
 'United States Military Academy',
 'University of Washington',
 'The Ohio State University',
 'Pennsylvania State University',
 'Oklahoma State University',
 'University of Akron',
 'The University of Tennessee',
 'Purdue University',
 'New Mexico State University',
 'University at Buffalo, The State University of New York',
 'Ohio University',
 'The University of Tennessee at Martin',
 'Arizona State University',
 'Missouri State University',
 'University at Albany, State University of New York',
 'Texas A & M University',
 'University of South Carolina',
 'University of South Florida',
 'University of New Mexico',
 'University of Oklahoma',
 'University of Virginia',
 'University of South Carolina Upstate',
 'University of North Carolina at Wilmington',
 'Georgia Institute of Technology',
 'University of Cincinnati',
 'Kent State University']

In [6]:
admission_data.columns

Index(['Unit Id', 'Institution name', 'Unnamed: 2', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007',
       '2006', '2005', '2004', '2003', '2002'],
      dtype='object')

In [7]:
# dropping unwanted columns and chaning column names 
wanted_admission_data = admission_data.drop('Unit Id', axis=1)
wanted_admission_data = admission_data.rename(columns={'Institution name':'School',
                                                       'Unnamed: 2': 'Applicatin_Status'})

In [8]:
# getting rid of schools that are not in football list
admission_df = wanted_admission_data[wanted_admission_data['School'].isin(football_schools)]

In [10]:
# checking length of schools 
admission_schools = list(admission_df['School'].unique())
len(admission_schools)

191

In [11]:
# saving cleaned csv
admission_df.to_csv('../Cleaned_Resources/admission_data.csv')