In [1]:
import pandas as pd

In [2]:
url = 'https://www.ncaa.com/history/football/fbs'

In [3]:
tables = pd.read_html(url)
tables

[     Season            Champion Selecting Organization
 0      2019                 LSU                    CFP
 1      2018             Clemson                    CFP
 2      2017             Alabama                    CFP
 3      2016             Clemson                    CFP
 4      2015             Alabama                    CFP
 ..      ...                 ...                    ...
 146    1873           Princeton                    NCF
 147    1872           Princeton                    NCF
 148    1871       None selected                    NCF
 149    1870           Princeton                    NCF
 150    1869  Princeton, Rutgers                    NCF

 [151 rows x 3 columns]]

In [7]:
football_champions_df = tables[0]

football_champoions = football_champions_df

    Season                  Champion Selecting Organization
0     2019                       LSU                    CFP
1     2018                   Clemson                    CFP
2     2017                   Alabama                    CFP
3     2016                   Clemson                    CFP
4     2015                   Alabama                    CFP
5     2014                Ohio State                    CFP
6     2013             Florida State                    BCS
7     2012                   Alabama                    BCS
8     2011                   Alabama                    BCS
9     2010                    Auburn                    BCS
10    2009                   Alabama                    BCS
11    2008                   Florida                    BCS
12    2007                       LSU                    BCS
13    2006                   Florida                    BCS
14    2005                     Texas                    BCS
15    2004      Southern California*                    BCS
16    2003  LSU, Southern California          BCS, AP, FWAA
17    2002                Ohio State                    BCS
18    2001              Miami (Fla.)                    BCS
19    2000                  Oklahoma                    BCS

In [44]:
#  football_champions_df['Champion'].replace(['Alabama', 'Clemson','LSU','Florida State','Auburn','Florida','Texas'], 
#                                           ['The University of Alabama','Clemson University','Louisiana State University and Agricultural & Mechanical College',
#                                           'Florida State University','Auburn University','University of Florida',
#                                           'The University of Texas at Austin'])

# football_champions_df.replace(to_replace = ["Alabama"], value = "The University of Alabama")
# football_champions_df.replace(to_replace = ["Clemson"], value = 'Clemson University')
# football_champions_df.replace(to_replace = ["Clemson"], value = ""

champs_df = football_champions_df.replace(to_replace={"Alabama":"The University of Alabama","Clemson":'Clemson University',
                                         'LSU':'Louisiana State University and Agricultural & Mechanical College',
                                         'Florida State':'Florida State University','Auburn':'Auburn University','Florida':'University of Florida',
                                         'Texas':'The University of Texas at Austin'})

In [45]:
champs_df

,Champion,Selecting Organization
Season,,
2019,Louisiana State University and Agricultural & ...,CFP
2018,Clemson University,CFP
2017,The University of Alabama,CFP
2016,Clemson University,CFP
2015,The University of Alabama,CFP
...,...,...
1873,Princeton,NCF
1872,Princeton,NCF
1871,None selected,NCF
1870,Princeton,NCF
1869,"Princeton, Rutgers",NCF

In [46]:
champs_df.set_index('Season', inplace=True)

KeyError: "None of ['Season'] are in the columns"

In [39]:
football_champions_df.to_csv('../Cleaned_Resources/footbal_champions.csv')

In [40]:
football_champions_df

                  Champion Selecting Organization
Season
2019                   LSU                    CFP
2018               Clemson                    CFP
2017               Alabama                    CFP
2016               Clemson                    CFP
2015               Alabama                    CFP
...                    ...                    ...
1873             Princeton                    NCF
1872             Princeton                    NCF
1871         None selected                    NCF
1870             Princeton                    NCF
1869    Princeton, Rutgers                    NCF

[151 rows x 2 columns]