In [1]:
import pandas as pd

In [2]:
url = 'https://www.ncaa.com/history/football/fbs'

In [3]:
tables = pd.read_html(url)
tables

[     Season            Champion Selecting Organization
 0      2019                 LSU                    CFP
 1      2018             Clemson                    CFP
 2      2017             Alabama                    CFP
 3      2016             Clemson                    CFP
 4      2015             Alabama                    CFP
 ..      ...                 ...                    ...
 146    1873           Princeton                    NCF
 147    1872           Princeton                    NCF
 148    1871       None selected                    NCF
 149    1870           Princeton                    NCF
 150    1869  Princeton, Rutgers                    NCF

 [151 rows x 3 columns]]

In [4]:
football_champions_df = tables[0]

football_champoions = football_champions_df

In [5]:
#  football_champions_df['Champion'].replace(['Alabama', 'Clemson','LSU','Florida State','Auburn','Florida','Texas'], 
#                                           ['The University of Alabama','Clemson University','Louisiana State University and Agricultural & Mechanical College',
#                                           'Florida State University','Auburn University','University of Florida',
#                                           'The University of Texas at Austin'])



champs_df = football_champions_df.replace(to_replace={"Alabama":"The University of Alabama","Clemson":'Clemson University',
                                         'LSU':'Louisiana State University and Agricultural & Mechanical College',
                                         'Florida State':'Florida State University','Auburn':'Auburn University','Florida':'University of Florida',
                                         'Texas':'The University of Texas at Austin'})

In [6]:
champs_df

,Season,Champion,Selecting Organization
0,2019,Louisiana State University and Agricultural & ...,CFP
1,2018,Clemson University,CFP
2,2017,The University of Alabama,CFP
3,2016,Clemson University,CFP
4,2015,The University of Alabama,CFP
...,...,...,...
146,1873,Princeton,NCF
147,1872,Princeton,NCF
148,1871,None selected,NCF
149,1870,Princeton,NCF
150,1869,"Princeton, Rutgers",NCF

In [7]:
champs_df.set_index('Season', inplace=True)

In [9]:
champs_df.to_csv('../Cleaned_Resources/footbal_champions.csv')

In [ ]:
football_champions_df